body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}

.header-logo-part{
    color: #2e2f42
}

.header-link:hover{
    color: #404bbf;
}

.header-link:focus{
    color: #404bbf;
}

.header-link{
   font-weight: 500;
   font-size: 16px; 
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.contacts-link:hover{
    color: #404bbf;  
}

.contacts-link:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
}

.contacts-link{
   font-weight: 400;
   font-size: 16px; 
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.hero{
   background: #2e2f42;
}


.hero-head{
   font-weight: 700;
   font-size: 56px; 
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
}

button{
    cursor: pointer;
}

.hero-btn:hover{
    background-color: #404BBF;
}

.hero-btn:focus{
    background-color: #404BBF;
}

.hero-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
}

.visually-hidden {
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



.about-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #F4F4FD;
}

.team-item{
    background-color: #FFFFFF;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team-caption{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.portfolio-caption{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    background: #2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-part{
    color: #f4f4fd;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}